{% extends 'users/layout.html' %}
{% block content %}
<form class="form-inline definewidth m20" action="index.html" method="get">    
    用户名称：
    <input type="text" name="username" id="username"class="abc input-default" placeholder="" value="">&nbsp;&nbsp;  
    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp; <button type="button" class="btn btn-success" id="addnew">新增用户</button>
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>文章标题</th>
        <th>创建时间</th>
        <th>修改时间</th>
        <th>创建人</th>
        <th>操作</th>
    </tr>
    </thead>

        {% for article in articles %}
        <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.create_date }}</td>
            <td>{{ article.edit_date }}</td>
            <td>{{ article.author.realname }}</td>
            <td>
                <a href="edit/">编辑</a>
            </td>
        </tr>
        {% endfor %}



</table>

<script>
    $(function () {


		$('#addnew').click(function(){

				window.location.href="/article/add/";
		 });


    });

	function del(id)
	{


		if(confirm("确定要删除吗？"))
		{

			var url = "index.html";

			window.location.href=url;

		}




	}
</script>
{% endblock %}
