{% extends 'users/layout.html' %}
{% block content %}

<div class="container-fluid">
<button type="button" class=" btn btn-sm btn-info" id="addnew">新增文章</button>
</div>
<div class="clearfix" style="margin-bottom: 10px;"></div>
<div class="form-actions">
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>文章标题</th>

        <th>创建时间</th>
        <th>修改时间</th>
        <th>创建人真实姓名</th>
        <th>创建人账号</th>
        <th>操作</th>
    </tr>
    </thead>

        {% for article in articles %}
        <tr>
            <td>{{ article.title }}</td>

            <td>{{ article.create_date }}</td>
            <td>{{ article.edit_date }}</td>
            <td>{{ article.author.realname }}</td>
            <td>{{ article.author.nickname }}</td>
            <td>
                <a href="edit/{{article.id}}" class="btn btn-info btn-sm" role="button">编辑</a>
                <a href="/article/del/{{article.id}}" class="btn btn-danger btn-sm" role="button">删除</a>
            </td>
        </tr>
        {% endfor %}
</table>
    </div>

<script>
    $(function () {


		$('#addnew').click(function(){

				window.location.href="/article/add/";
		 });


    });

	function del(id)
	{


		if(confirm("确定要删除吗？"))
		{

			var url = "index.html";

			window.location.href=url;

		}




	}
</script>
{% endblock %}
